.searchButton {
    padding: 0.75em 1em;
    background: var(--green);
    color: #fff;
    border: none;
    text-transform: capitalize;
    color: #fff;
}

.container {
    width: 50vw;
    
  }
  
  .appLogo {
    width: 60%;
    height: auto;
  }

  .imgContainer {
    text-align: center;
    margin-bottom: 1em;
  }

  .searchBarContainer {
      width: 80%;
      display: inline-block;
  }
  .buttonContainer {
      width: 20%;
      display: inline-block;
      vertical-align: top;
      text-align: center;
  }